<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>422086856195-90qspo1pep69qm223hsnsb3spcjj72qa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422086856195-90qspo1pep69qm223hsnsb3spcjj72qa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>422086856195-o0d8s6i94tirkqc8cks1kqmovgiv28ad.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC3a90SNtNRHiMyGC2D-dkNV9fhNhtfXHY</string>
	<key>GCM_SENDER_ID</key>
	<string>422086856195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.convrtx.memeeapp</string>
	<key>PROJECT_ID</key>
	<string>memee-f9aca</string>
	<key>STORAGE_BUCKET</key>
	<string>memee-f9aca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422086856195:ios:f6afb46d1e118a7bb58836</string>
	<key>DATABASE_URL</key>
	<string>https://memee-f9aca-default-rtdb.firebaseio.com</string>
</dict>
</plist>